---
---

@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

@import {% if site.bootwatch %}"bootswatch/{{site.bootwatch | downcase}}/variables", {% endif %} "bootstrap", {% if site.bootwatch %} "bootswatch/{{site.bootwatch | downcase}}/bootswatch", {% endif %} "syntax-highlighting", "typeahead";

html {
  position: relative;
  min-height: 100%;
}


.navbar-brand {
  img {
    margin: -$navbar-padding-vertical 0;
    height: $navbar-height;
    padding: 10px 0;
  }
}

.header-container {
  background-color: black;
  background: url('../img/bg.jpg') no-repeat 50% 0;
  color: #fff;

  h1 {
    color: #fff;
  }
  // background-attachment: fixed;
  background-size: cover;
  background-position: center 36%;
  margin-top: 51px;
}

.navbar-container {
  font-size: 16px;
}

.page-content {
  padding-bottom: 20px;
}

 .footer {
   padding-top: 50px;
   padding-bottom: 50px;
   margin-top: 50px;
   color: #99979c;
   text-align: center;
   background-color: #2a2730
 }

.footer a {
  color: #fff
}

.footer-links {
  padding-left: 0;
}

.footer-links li {
  display: inline-block
}

.footer-links li + li {
  margin-left: 15px
}

@media (min-width: 768px) {
  .footer {
    text-align: left
  }

  .footer p {
    margin-bottom: 0
  }
}

.post-list-container {
  li a.active {
    font-weight: bold;
  }
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 10px
}
